body {
    background-color: #1a1a1a; 
    color: #2eb41c; 
    font-family: Arial, sans-serif;
}

table {
    background-color: #157e7e; 
    color: ##0000FF; 
    border-collapse: collapse;
}

h1 {
    color:aqua
}


img {
    border-radius: 10px; 
}


form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    margin-bottom: 10px;
    padding: 5px;
}
